@import "bootstrap";

.logo{
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: #fff;
  img{ width: 8%;
  }
} 

  .logout-link {    float: right;
    display: block;
    width: 100%;}
    .top-nav {
      float: left;
      margin: 0% 0;
      width: 100%;
      display: block;
      text-align: left;
      background: #3e6167;
      color: #fff;
      ul {    margin: 0;}
  }
.nav-link {
  display: inline-block;
  font-size: 22px;
  text-transform: capitalize;
  padding: 20px;}
  .nav-link:visited {color: #fff;}
a.nav-link:hover {
  color: #fff;
  background-color: #5c7c9f;
}
  .top-nav ul li {    list-style: none;
    display: inline;}

    .page-container {
      width: 100%;
      display: inline-block;
      position: relative;
      padding: 2%;
  }
.friends-container {    float: right;
  width: 25%;}

.all-cards {
  float: left;
    width: 50%;
    margin: 0 6%;
    .card {
      margin: 0 auto 1%;
      text-align: center;
      width: 45%;
      border: 3px solid #3e6166;
    }
    .card-text {
      font-size: 18px;
      letter-spacing: 0.05em;
      margin: 5% 0;
  }
}

h3 {text-align: right;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #fff;}
.user-cards{
  .card {
    margin: 2% auto 1%;
    text-align: center;
    width: 50%;
    border: 3px solid #66b0ba;
  }
}
.post-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.btn-primary {
  background-color: #9d9a9f;
  border: none;
}

.btn-primary:hover {
  background-color: #5c7c9f;
  border: none;
}
a.btn.btn-primary:visited {
  color:#fff;
}

.logout {float: right;}

.user-profile {font-size: 14px;
  margin: 5% 0;
  color: #fff;}
  .people-btn {
    font-size: 16px;
    letter-spacing: 0.05em;
}

.add-friend-btn {
  float: right;
}
a.people-btn:visited {
  color: #fff;
}
a.add-friend-btn:visited {
  color: #fff;
}

.user-profile span {
  float: right;
  background: #000;
  padding: 1%;
}
a.add-friend-btn {
  background: #999;
  padding: 1%;
  color: #fff;
}

.new_post {margin: 0 auto;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 16px;}

  .new_user {padding: 1%;}